.idea
.vscode/
.Build
!.Build/Web/.gitkeep
.ddev/docker-compose.tempfs.yaml
composer.lock
*.cache
var
.php-cs-fixer.cache
.DS_Store
/Documentation-GENERATED-temp/
/*.http
http-client.env.json
/.test-results
