includes:
  - ../.Build/vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
  level: 2
  paths:
    - ../Classes
    - ../ext_localconf.php
    - ../ext_tables.php
    - ../Configuration
  scanDirectories:
      - ../.Build/Web/typo3/sysext
  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: false
